@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text-color);
    font-size: 1.25rem;
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    color: black;
    display: inline-block;
}
.boldtext{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 20px;
}
.bannertext{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
.top-banner{
    background-color: #4fb3d4;
    background-image: url('./images/2.jpg.png');
    background-size: 300px;
}
.flex{
    display: flex;
    align-items: center;
}
.company-logo img{
    width: 200px;
}
ul{
    list-style: none;
}
.main-nav{
    justify-content: space-between;
    margin-top: 20px;
}
.navlinks{
    flex-basis: 730px;
}
.navlinks ul{
    justify-content: end;
    gap: 40px;
}
.hoverlinks{
    color: var(--primary-text-color);
}
.hoverlinks:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    /* color: white !important; */
    color: white;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primary-button:hover{
    background-color: white;
    color: black;
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    background-color: var(--accent-color);
    color: white;
    transition: 0.2s ease-out;
    /* border-color: var(--accent-color); */
}
.headerright img{
    width: 600px;
}
.header
{
    
    padding: 50px 20px ;
}
.header-section{
    margin-top: 20px;
    justify-content: center;
    gap: 40px;
}
.headerleft{
    max-width: 40vw;

}
.headerleft h1{
    margin-top: 20px;
    margin-bottom: 10px;
}
.getstarted{
    margin-top: 20px;
}
.companies-header{
    text-align: center;
    color: var(--primary-text-color);
    margin-top: 30px;
    margin-bottom: 30px;
}
.logo{
    height: 46px;
}
.logos{
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}
.features-section{
    padding: 50px 20px 0;
    background-image: url(./images/16.jpg.jpeg);
}
.featuresheader{
    text-align: center;
    
}
.featuresheader h2{
    margin-bottom: 20px;
}
.features-card{
    flex-direction: column;
    gap: 20px;
    width: 30%;
    margin-top: 20px;
    text-align: center;
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}
.image img{
    width: 100%;
}
.big-features-section{
    padding: 14px 20px ;
}
.featuresconatiner
{
    margin-left: 30px;
    padding: 30px 20px ;
    gap: 10px;
}
.features{
    flex-direction: column;
    align-items: flex-start;
}
.examplescard{
    width: 23%;
    min-height: 290px;
    background: black;
    position: relative;
    background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.9)),url(./images/22.jpg.jpeg);
    /* background-image: url(./images/20.jpg.jpeg); */ 
    background-size: cover;
}
.examplescard:hover{
    box-shadow: 0 0 10px #888;
    transition: 0.2s ease-out;
}
.exampletext{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    color: white;

}
.exampleimage{
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.examplescard1{
    width: 23%;
    min-height: 290px;
    background: black;
    position: relative;
    background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.9)),url(./images/20.jpg.jpeg);
    /* background-image: url(./images/20.jpg.jpeg); */ 
    background-size: cover;
}
.examplescard1:hover{
    box-shadow: 0 0 10px #888;
    transition: 0.2s ease-out;
}
.examplescard2{
    width: 23%;
    min-height: 290px;
    background: black;
    position: relative;
    background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.9)),url(./images/21.jpg.jpeg);
    /* background-image: url(./images/20.jpg.jpeg); */ 
    background-size: cover;
}
.examplescard2:hover{
    box-shadow: 0 0 10px #888;
    transition: 0.2s ease-out;
}
.examplescard3{
    width: 23%;
    min-height: 290px;
    background: black;
    position: relative;
    background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.9));
    /* background-image: url(./images/20.jpg.jpeg); */ 
    
}
.examplescard3:hover{
    box-shadow: 0 0 10px #888;
    transition: 0.2s ease-out;
}
.ctaflex{
    flex-direction: column;
    gap: 30px;
}
.CTA-section{
    padding: 120px 20px 80px;
    background-color: #183b54;
    color: white;
}
.ctaflex p{
    color: white;
    margin-top: 20px;
}
footer{
    padding-block: 80px;
    /* background-color: #ebf2fa; */
}
.column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footersection{
    align-items: flex-start;
    justify-content: space-between;
}
.subfooter{
    background-color: #b9cde4;
    padding: 20px;
}
.subfootercontainer{
    justify-content: center;
    gap: 30px;
}


